<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Bootstrap/bootstrap-5.3.8/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <span>範例一</span>
    <h3>Example heading<span class="badge text-bg-secondary">New</span></h3>
    <br>

    <span>範例二</span>
    <br>
    <button type="button" class="btn btn-primary">
        Notifications <span class="badge text-bg-secondary">4</span>
    </button>
    <br>


    <span>範例三</span>
    <br>
    <button type="button" class="btn btn-primary position-relative">
        Inbox
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            99+
            <span class="visually-hidden">unread messages</span>
        </span>
    </button>

    <span>範例四</span>
    <br>
    <button type="button" class="btn btn-primary position-relative">
        Profile
        <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
            <span class="visually-hidden">New alerts</span>
        </span>
    </button>

    <span>範例五</span>
    <br>

    <span class="badge text-bg-primary">Primary</span>
    <span class="badge text-bg-secondary">Secondary</span>
    <span class="badge text-bg-success">Success</span>
    <span class="badge text-bg-danger">Danger</span>
    <span class="badge text-bg-warning">Warning</span>
    <span class="badge text-bg-info">Info</span>
    <span class="badge text-bg-light">Light</span>
    <span class="badge text-bg-dark">Dark</span>

    <span>範例六</span>
    <br>
    
    <span class="badge rounded-pill text-bg-primary">Primary</span>
    <span class="badge rounded-pill text-bg-secondary">Secondary</span>
    <span class="badge rounded-pill text-bg-success">Success</span>
    <span class="badge rounded-pill text-bg-danger">Danger</span>
    


    <script src="../Bootstrap/bootstrap-5.3.8/js/bootstrap.bundle.min.js"></script>
</body>
</html>